*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: black;
  // background-color: $neutral-color-200;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: $neutral-color-100;

  a {
    color: hsl(228, 45%, 44%); 
  }
}