h1 {
  font-family: 'Big Shoulders Display';
  color: $neutral-color-200;
  font-weight: 700;
}

p {
  font-family: 'Lexend Deca';
  color: $neutral-color-100;
}

button {
  background-color: $neutral-color-200;
  border: 1px $neutral-color-200;
  font-family: 'Lexend Deca';
}

li:nth-child(1) > button {color: $primary-color-100;}
li:nth-child(2) > button {color: $primary-color-200;}
li:nth-child(3) > button {color: $primary-color-300;}

