// FONT IMPORTS

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

//  STYLE VARIABLES 

$primary-color-100: hsl(31, 77%, 52%);    //  Bright orange
$primary-color-200: hsl(184, 100%, 22%);  //  Dark cyan
$primary-color-300: hsl(179, 100%, 13%);  //  Very dark cyan

$neutral-color-100: hsla(0, 0%, 100%, 0.75);  //  Transparent white (paragraphs)
$neutral-color-200: hsl(0, 0%, 95%);          //  Very light gray (background, headings, buttons)

//  FILE IMPORTS 

@import 'font';
@import 'general';
@import 'card';
@import 'styles';